/***** global *****/

body {
    font-family: $font-primary; 
    background-color: $color-lightlightgray; 
    font-size: 125%; 
    margin: 0; 
    padding: 0; 
    text-align: center;
} 

.wrapper {
    width: 80%; 
    margin: 0 auto; 
    max-width: 1800px; 
} 

img {
    max-width: 100%; 
} 