/***** setup *****/

@media (max-width: 1080px) {
    h1 {
        font-size: 5rem;
    } 
    h2 {
        width: 60%; 
    } 
    form {
        width: 80%; 
    } 
}

/* portrait tablet and small desktops */
@media (max-width: 940px) {
    .wrapper {
        width: 100%; 
    } 
    form {
        width: 90%; 
    } 
    input {
        width: 300px; 
        margin: 10px auto;
    } 
    ul {
        margin: 25px 0; 
    } 
}

/* landscape phone to portrait tablet */
@media (max-width: 768px) {
    h2 {
        width: 90%; 
    } 
    form {
        width: 100%; 
    } 
    input {
        width: 250px; 
    }
    footer {
        padding: 15px; 
    } 
}

/* landscape phones and down */
@media (max-width: 480px) {
    h1 {
        font-size: 4rem;
    } 
    form {
        padding: 50px 0; 
    } 
    input {
        width: 200px; 
    } 
}