// font family 
$font-primary: 'Roboto Slab', serif; 
$font-secondary: 'Permanent Marker', cursive; 

// color palette 
$color-primary: #caed9d; 
$color-secondary: #fbc60e; 

$color-lightlightgray: #eee; 
$color-lightgray: #999; 
$color-mediumgray: #666;  
$color-darkgray: #333; 